QUESTION-1(LIST FUNCTIONS)


---



*   APPEND ,INSERT & EXTEND

*   REMOVE , POP & DEL
*   LEN , MAX ,MIN &SUM


*   SPLIT & JOIN


*   SORT & REVERSE



1.1-   APPEND ,INSERT & EXTEND

In [ ]:
a=['A','B','C','D']
print("BEFORE = ",a)

a.append('F')
print("\nAFTER = ",a)

a.insert(4,'E')
print("\nAFTER INSERTING = ",a)

b=['G','H','I','J']
a.extend(b)
print("\nAFTER EXTENDING LIST a = ",a)

#we can also concat two list by '+'
c=['K','L']
d=a+c
print("\nAFTER CONCATINATION OF LIST a & c = ",d)

BEFORE =  ['A', 'B', 'C', 'D']

AFTER =  ['A', 'B', 'C', 'D', 'F']

AFTER INSERTING =  ['A', 'B', 'C', 'D', 'E', 'F']

AFTER EXTENDING LIST a =  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

AFTER CONCATINATION OF LIST a & c =  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

1.2- REMOVE , POP ,DEL & CLEAR

In [ ]:
l=['Apple','Banana','Avocado','Cherries','Mango']
print("BEFORE = ",l)

l.remove('Banana')
print("\nAFTER REMOVING 'BANANA' = ",l)

l.pop(3)
print("\nAFTER POPING FROM INDEX 3= ",l)

del l[0]
print("\nAFTER DELETING FIRST ELEMENT = ",l)

l.clear()
print("\nTHE LIST = ",l)

BEFORE =  ['Apple', 'Banana', 'Avocado', 'Cherries', 'Mango']

AFTER REMOVING 'BANANA' =  ['Apple', 'Avocado', 'Cherries', 'Mango']

AFTER POPING FROM INDEX 3=  ['Apple', 'Avocado', 'Cherries']

AFTER DELETING FIRST ELEMENT =  ['Avocado', 'Cherries']

THE LIST =  []

1.3-len , max ,min & sum

In [ ]:
lst=[10,20,100,200,3,2,1]
print("BEFORE = ",lst)

print("\nTHE LENGTH OF THE LIST = ",len(lst))

print("\nTHE MAX ELEMENT IN THIS LIST = ",max(lst))

print("\nTHE MIN ELEMENT IN THIS LIST = ",min(lst))

del lst[4:7]
print("\nTHE LIST = ",lst)

print("\nTHE SUM OF THE LIST = ",sum(lst))

BEFORE =  [10, 20, 100, 200, 3, 2, 1]

THE LENGTH OF THE LIST =  7

THE MAX ELEMENT IN THIS LIST =  200

THE MIN ELEMENT IN THIS LIST =  1

THE LIST =  [10, 20, 100, 200]

THE SUM OF THE LIST =  330

1.4-split & join

In [ ]:
st='Hi my name is Aritrika'
list1=st.split()
print("list = ",list1)

#we can use delimiters to specify 
st='Hi-my-name-is-Aritrika'
list1=st.split('-')
print("list_1= ",list1)

lt=['Hey ','how are ','you','?']
delimiter=''
s=delimiter.join(lt)
print("\nAFTER JOINING = ",s)

list =  ['Hi', 'my', 'name', 'is', 'Aritrika']
list_1=  ['Hi', 'my', 'name', 'is', 'Aritrika']

AFTER JOINING =  Hey how are you?

1.5- sort & reverse

In [ ]:
l1=[3,7,56,90,5,170]
print("\nTHE GIVEN LIST = ",l1)

l1.sort()
print("\nAFTER SORTING THE GIVEN LIST = ",l1)

l1.reverse()
print("\nAFTER REVERSING THE GIVEN LIST = ",l1)

THE GIVEN LIST =  [3, 7, 56, 90, 5, 170]

AFTER SORTING THE GIVEN LIST =  [3, 5, 7, 56, 90, 170]

AFTER REVERSING THE GIVEN LIST =  [170, 90, 56, 7, 5, 3]


QUESTION-2(Dictionaryâ€™s Functions)

---

*   GET

*   KEYS

*   VALUES & ITEMS
*   POP,DEL & CLEAR

* COPY

2.1-GET & UPDATE

In [ ]:
student={
    'name':'Aritrika',
    'age' :24,
    'address':'Asansol'
}
print(student.get('age',25))

s={
    'college':'HITK'
}

student.update(s)
print(student)

24
{'name': 'Aritrika', 'age': 24, 'address': 'Asansol', 'college': 'HITK'}

2.2-KEYS

In [ ]:
student={
    'name':'Aritrika',
    'age' :24,
    'address':'asansol'
}
print("THE KEYS OF STUDENT IS = ",student.keys())

THE KEYS OF STUDENT IS =  dict_keys(['name', 'age', 'address'])

2.3-VALUES & ITEMS

In [8]:
student={
    'name':'Aritrika',
    'age' :24,
    'address':'asansol'
}
print("values of the student dictionary is = ",student.values())
print("attribute of the student dictionary is = ",student.items())

values of the student dictionary is =  dict_values(['Aritrika', 24, 'asansol'])
attribute of the student dictionary is =  dict_items([('name', 'Aritrika'), ('age', 24), ('address', 'asansol')])

2.4-POP,DEL&CLEAR

In [16]:
student={
    'class-1':{
        'name':'Aritrika',
        'age' :24,
        'address':'asansol'
    },
    'class-2':{
          'name':'Shalini',
          'age' :24,
          'address':'Burdwan'
      }
}
del student['class-2']['address']
print("After deleting =",student)

student.pop('class-1')
print("After poping =",student)

student.clear()
print("After clearing =",student)

After deleting = {'class-1': {'name': 'Aritrika', 'age': 24, 'address': 'asansol'}, 'class-2': {'name': 'Shalini', 'age': 24}}
After poping = {'class-2': {'name': 'Shalini', 'age': 24}}
After clearing = {}

2.5-COPY

In [17]:
st={
    'name':'Aritrika',
    'age' :24,
    'address':'asansol'
}
st1=st.copy()
print("THE NEW COPY =",st1)

THE NEW COPY = {'name': 'Aritrika', 'age': 24, 'address': 'asansol'}